.to-do {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: baseline;
}

.to-do-name {
    font-size: 25px;
}

.to-do-date {
    color: darkgray;
    font-size: 14px;
    vertical-align: middle;
    margin: 0 15px;
    font-style: italic;
}

.to-do-delete {
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}